 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container{
  margin: 0 auto;
  margin-top: 50px;
  width:30%;
  height:600px;;
  background-image: URL('http://findicons.com/files/icons/2453/clipboard/1816/clipboard_paper.png' );
  background-size: 100% 100%;
  border-radius: 9px;
}

.header{



  h1{
    font-size: 30px;
    text-align:center;
    border-radius: 9px;
    margin-top:30px;
    padding-top:55px;
    font-family: 'Covered By Your Grace', cursive;
  }
}

#myform{
  margin-left:130px;
}

.list{
  height:100%;
  padding-top:40px;
  li{
    margin-left:65px;
    margin-bottom:0px;
    height:18px;
    font-size:15px;
    font-family: 'Covered By Your Grace', cursive;
  }
}

.addbutton{
  padding-top:none;
  li{
    color:blue;
    text-decoration:underline;
    margin-left:65px;
    height:18px;
    font-size:15px;
    font-family: 'Covered By Your Grace', cursive;
  }
}
